.git
.github

.venv
.venv-1

__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
.coverage
htmlcov

logs
*.log

.env

.vscode
.idea

docs
dashboards
tests

kafka-data
minio-data
postgres-data

.DS_Store
Thumbs.db